body {
    background-color: #0A122A;
}

footer {
    color: #faf0db;
    position: absolute;
    bottom: 0;
    width: 100%;
    text-align: center;
    margin-bottom: 25px;
}

.chrome-link {
    color: #f9a21e;
    -webkit-transition: color 0.5s;
    -moz-transition: color 0.5s;
    -o-transition: color 0.5s;
    transition: color 0.5s;
}

.chrome-link:hover {
    color: #fcce0b;
}

.logo-text:hover {
    text-decoration: none;
    color: #faf0db;
}

.logo-container {
    margin: 20px;
}

.logo-text {
    color: #faf0db;
    font-size: 25px;
}

.url-form {
    background-color: #30323D;
    display: flex;
    justify-content: center;
    margin-left: 2.5%;
    width: 95%;
    padding: 20px 10px 20px 10px;
    border-radius: 10px;
    -webkit-transition: background-color 0.5s;
    -moz-transition:    background-color 0.5s;
    -o-transition:      background-color 0.5s;
    transition:         background-color 0.5s;
}

.form-after {
    background-color: #faf0db;
    width: 100%;
    display: flex;
    justify-content: center;
    margin-left: 2.5%;
    width: 95%;
    padding: 20px 10px 20px 10px;
    border-radius: 10px;
    -webkit-transition: background-color 0.5s;
    -moz-transition:    background-color 0.5s;
    -o-transition:      background-color 0.5s;
    transition:         background-color 0.5s;
}

.full-input:focus {
    outline: none;
}

.url-input {
    color: #0A122A;
    margin-right: 20px;
    border: none;
    border-radius: 10px;
    width: 72%;
    height: 60px;
    padding: 0 20px;
    display: inline-block;
    box-shadow: none;
    background-color: #faf0db;
    -webkit-transition: box-shadow 0.5s;
    -moz-transition:    box-shadow 0.5s;
    -o-transition:      box-shadow 0.5s;
    transition:         box-shadow 0.5s;
}

.url-bad {
    color: #0A122A;
    margin-right: 20px;
    border: none;
    border-radius: 10px;
    width: 72%;
    height: 60px;
    padding: 0 20px;
    display: inline-block;
    box-shadow: 0 0 0 2pt red;;
    background-color: #faf0db;
    -webkit-transition: box-shadow 0.5s;
    -moz-transition:    box-shadow 0.5s;
    -o-transition:      box-shadow 0.5s;
    transition:         box-shadow 0.5s;
}

.input-after {
    color: #0A122A;
    margin-right: 20px;
    border: none;
    border-radius: 10px;
    width: 72%;
    height: 60px;
    padding: 0 20px;
    display: inline-block;
    box-shadow: none;
    background-color: #faf0db;
    box-shadow: 0 0 0 2pt #30323D;
    -webkit-transition: box-shadow 0.5s;
    -moz-transition:    box-shadow 0.5s;
    -o-transition:      box-shadow 0.5s;
    transition:         box-shadow 0.5s;
}

.input-after:focus {
    outline: none;
}

.url-input:focus {
    outline: none;
    box-shadow: 0 0 0 2pt #f9a21e;
}

.url-bad:focus {
    outline: none;
}

.url-bad::selection {
    background: #f9a21e
}

.url-input::selection {
    background: #f9a21e
}

.input-after::selection {
    background: #f9a21e;
}

.url-submit {
    background-color: #f9a21e;
    border-radius: 10px;
    border: none;
    min-width: 25%;
    float: right;
    -webkit-transition: background-color 0.5s;
    -moz-transition: background-color 0.5s;
    -o-transition: background-color 0.5s;
    transition: background-color 0.5s;
}

.button-after {
    background-color: #30323D;
    color: #f6f7f8;
    border-radius: 10px;
    border: none;
    min-width: 25%;
    float: right;
    -webkit-transition: background-color 0.5s, opacity 0.5s;
    -moz-transition:    background-color 0.5s, opacity 0.5s;
    -o-transition:      background-color 0.5s, opacity 0.5s;
    transition:         background-color 0.5s, opacity 0.5s;
}

.url-submit:hover {
    background-color: #fcce0b;
}

.url-submit:focus {
    outline: none;
}

.button-after:hover {
    opacity: 70%;
}

.button-after:focus {
    outline: none;
}